<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml">
	<head>
		<title>Set Layout</title>
		<script type = "text/javascript">
		
			var f,
			    r = 0,
			    c = 0,
			    p = '<div id="board">';
			
			while(r <= '8')
			{
			   p += '<div class="row">';
			   while (c <= '8')
			   {
			      if (r%2 != c%2) { p += '<div class="cell cell-1"><div class="cell-wrapper">X</div></div>'; }
			      else { p += '<div class="cell cell-2"><div class="cell-wrapper">O</div></div>'; }
			      c++;
			   }
			   p += '</div>';
			   c = 0;
			   r++;
			}
			p += '</div>';
			document.write(p);
		
			var foo = {}

			foo.init = function(event)
			{
				var doc = document.getElementById('board'),
				    div = doc.getElementsByTagName('*');
				
				for(var i=0; i<div.length; i++)
				{
					if(/cell/.test(div[i].className))
					{
						console.log(div[i]);
					}
				}
			};

			document.addEventListener('DOMContentLoaded',foo.init,false);

		</script>
		<style type="text/css">
		
			* { margin: 0 auto; padding: 0px; }
			form { width: 100%; position: absolute; top: 0; left: 0; background-color: #fff; padding: 10px 0; }
			.row { overflow: hidden; clear: both; height: 40px; }
			.cell { width: 40px; height: 40px; display: block; float: left; text-align: center; }
			.cell-1 { color: #fff; background-color: #000; }
			.cell-2 { color: #000; }
			.cell-wrapper { padding: 10px 0 0 0; }
			#board { margin-top: 50px; }
					
		</style>
	</head>
	<body></body>
</html>
